<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pc</string>
	<string>at</string>
	<string>sum</string>
	<string>zzz</string>
	<string>snow</string>
	<string>helm</string>
	<string>wifi</string>
	<string>crop</string>
	<string>wind</string>
	<string>note</string>
	<string>power</string>
	<string>scope</string>
	<string>globe</string>
	<string>xmark</string>
	<string>lasso</string>
	<string>figure</string>
	<string>mappin</string>
	<string>pencil</string>
	<string>nosign</string>
	<string>hanger</string>
	<string>number</string>
	<string>repeat</string>
	<string>network</string>
	<string>tv.fill</string>
	<string>scooter</string>
	<string>rainbow</string>
	<string>rectangle.3.group.fill</string>
	<string>display</string>
	<string>tornado</string>
	<string>bicycle</string>
	<string>infinity</string>
	<string>photo.tv</string>
	<string>sparkles</string>
	<string>map.fill</string>
	<string>ellipsis</string>
	<string>doc.fill</string>
	<string>asterisk</string>
	<string>bus.fill</string>
	<string>cat.fill</string>
	<string>mic.fill</string>
	<string>waveform</string>
	<string>ear.fill</string>
	<string>dog.fill</string>
	<string>mug.fill</string>
	<string>eye.fill</string>
	<string>airplane</string>
	<string>key.fill</string>
	<string>scissors</string>
	<string>tag.fill</string>
	<string>car.fill</string>
	<string>pin.fill</string>
	<string>ant.fill</string>
	<string>calendar</string>
	<string>cpu.fill</string>
	<string>function</string>
	<string>bag.fill</string>
	<string>fan.fill</string>
	<string>bell.fill</string>
	<string>checklist</string>
	<string>hourglass</string>
	<string>comb.fill</string>
	<string>skis.fill</string>
	<string>sink.fill</string>
	<string>paragraph</string>
	<string>pill.fill</string>
	<string>leaf.fill</string>
	<string>nose.fill</string>
	<string>snowflake</string>
	<string>lock.fill</string>
	<string>barometer</string>
	<string>flag.fill</string>
	<string>star.fill</string>
	<string>tray.fill</string>
	<string>cube.fill</string>
	<string>oven.fill</string>
	<string>cart.fill</string>
	<string>amplifier</string>
	<string>music.mic</string>
	<string>esim.fill</string>
	<string>sofa.fill</string>
	<string>dial.fill</string>
	<string>play.fill</string>
	<string>checkmark</string>
	<string>moon.fill</string>
	<string>flipphone</string>
	<string>stop.fill</string>
	<string>pianokeys</string>
	<string>tree.fill</string>
	<string>seal.fill</string>
	<string>shoe.fill</string>
	<string>mail.fill</string>
	<string>hare.fill</string>
	<string>oval.fill</string>
	<string>film.fill</string>
	<string>tent.fill</string>
	<string>gift.fill</string>
	<string>book.fill</string>
	<string>bird.fill</string>
	<string>list.dash</string>
	<string>bolt.fill</string>
	<string>dot.scope</string>
	<string>paperclip</string>
	<string>fish.fill</string>
	<string>horn.fill</string>
	<string>tram.fill</string>
	<string>drop.fill</string>
	<string>case.fill</string>
	<string>gyroscope</string>
	<string>dice.fill</string>
	<string>cone.fill</string>
	<string>peacesign</string>
	<string>brain.fill</string>
	<string>lungs.fill</string>
	<string>smoke.fill</string>
	<string>road.lanes</string>
	<string>trash.fill</string>
	<string>cloud.fill</string>
	<string>soccerball</string>
	<string>phone.fill</string>
	<string>level.fill</string>
	<string>mediastick</string>
	<string>ferry.fill</string>
	<string>dryer.fill</string>
	<string>pills.fill</string>
	<string>flask.fill</string>
	<string>alarm.fill</string>
	<string>heart.fill</string>
	<string>headphones</string>
	<string>ruler.fill</string>
	<string>fork.knife</string>
	<string>house.fill</string>
	<string>tuningfork</string>
	<string>medal.fill</string>
	<string>eyeglasses</string>
	<string>stove.fill</string>
	<string>mouth.fill</string>
	<string>clock.fill</string>
	<string>table.fill</string>
	<string>radio.fill</string>
	<string>crown.fill</string>
	<string>cross.fill</string>
	<string>chair.fill</string>
	<string>eyedropper</string>
	<string>flame.fill</string>
	<string>curlybraces</string>
	<string>sdcard.fill</string>
	<string>washer.fill</string>
	<string>stethoscope</string>
	<string>wrench.fill</string>
	<string>lizard.fill</string>
	<string>tshirt.fill</string>
	<string>carrot.fill</string>
	<string>highlighter</string>
	<string>shower.fill</string>
	<string>scroll.fill</string>
	<string>ticket.fill</string>
	<string>eraser.fill</string>
	<string>sunset.fill</string>
	<string>spigot.fill</string>
	<string>folder.fill</string>
	<string>oilcan.fill</string>
	<string>basket.fill</string>
	<string>hammer.fill</string>
	<string>trophy.fill</string>
	<string>bubble.fill</string>
	<string>person.fill</string>
	<string>thermometer</string>
	<string>camera.fill</string>
	<string>shield.fill</string>
	<string>questionmark</string>
	<string>sun.max.fill</string>
	<string>pyramid.fill</string>
	<string>popcorn.fill</string>
	<string>syringe.fill</string>
	<string>simcard.fill</string>
	<string>gym.bag.fill</string>
	<string>speaker.fill</string>
	<string>printer.fill</string>
	<string>ladybug.fill</string>
	<string>watch.analog</string>
	<string>guitars.fill</string>
	<string>handbag.fill</string>
	<string>cabinet.fill</string>
	<string>balloon.fill</string>
	<string>bandage.fill</string>
	<string>football.fill</string>
	<string>hand.app.fill</string>
	<string>candybarphone</string>
	<string>cablecar.fill</string>
	<string>building.fill</string>
	<string>mustache.fill</string>
	<string>oar.2.crossed</string>
	<string>cylinder.fill</string>
	<string>banknote.fill</string>
	<string>tortoise.fill</string>
	<string>envelope.fill</string>
	<string>backpack.fill</string>
	<string>dumbbell.fill</string>
	<string>keyboard.fill</string>
	<string>tennis.racket</string>
	<string>suv.side.fill</string>
	<string>cable.coaxial</string>
	<string>stroller.fill</string>
	<string>quote.closing</string>
	<string>magazine.fill</string>
	<string>pawprint.fill</string>
	<string>bookmark.fill</string>
	<string>terminal.fill</string>
	<string>menucard.fill</string>
	<string>location.fill</string>
	<string>steeringwheel</string>
	<string>fuelpump.fill</string>
	<string>suitcase.fill</string>
	<string>umbrella.fill</string>
	<string>giftcard.fill</string>
	<string>facemask.fill</string>
	<string>baseball.fill</string>
	<string>sailboat.fill</string>
	<string>powerplug.fill</string>
	<string>lightrail.fill</string>
	<string>snowboard.fill</string>
	<string>lightbulb.fill</string>
	<string>megaphone.fill</string>
	<string>truck.box.fill</string>
	<string>lamp.desk.fill</string>
	<string>suit.club.fill</string>
	<string>clipboard.fill</string>
	<string>powercord.fill</string>
	<string>laptopcomputer</string>
	<string>box.truck.fill</string>
	<string>briefcase.fill</string>
	<string>deskclock.fill</string>
	<string>fireplace.fill</string>
	<string>gearshape.fill</string>
	<string>surfboard.fill</string>
	<string>stopwatch.fill</string>
	<string>flowchart.fill</string>
	<string>teddybear.fill</string>
	<string>microwave.fill</string>
	<string>scalemass.fill</string>
	<string>wineglass.fill</string>
	<string>creditcard.fill</string>
	<string>frying.pan.fill</string>
	<string>volleyball.fill</string>
	<string>humidifier.fill</string>
	<string>sunglasses.fill</string>
	<string>ev.charger.fill</string>
	<string>shoeprints.fill</string>
	<string>hands.clap.fill</string>
	<string>memorychip.fill</string>
	<string>archivebox.fill</string>
	<string>binoculars.fill</string>
	<string>chandelier.fill</string>
	<string>tennisball.fill</string>
	<string>bed.double.fill</string>
	<string>mountain.2.fill</string>
	<string>web.camera.fill</string>
	<string>paintbrush.fill</string>
	<string>storefront.fill</string>
	<string>skateboard.fill</string>
	<string>paperplane.fill</string>
	<string>desktopcomputer</string>
	<string>basketball.fill</string>
	<string>hifispeaker.fill</string>
	<string>sportscourt.fill</string>
	<string>puzzlepiece.fill</string>
	<string>shippingbox.fill</string>
	<string>waterbottle.fill</string>
	<string>opticaldisc.fill</string>
	<string>screwdriver.fill</string>
	<string>hockey.puck.fill</string>
	<string>party.popper.fill</string>
	<string>slider.vertical.3</string>
	<string>fossil.shell.fill</string>
	<string>theatermasks.fill</string>
	<string>batteryblock.fill</string>
	<string>cricket.ball.fill</string>
	<string>movieclapper.fill</string>
	<string>paintpalette.fill</string>
	<string>signpost.left.fill</string>
	<string>swatchpalette.fill</string>
	<string>battery.100percent</string>
	<string>internaldrive.fill</string>
	<string>lifepreserver.fill</string>
	<string>birthday.cake.fill</string>
	<string>externaldrive.fill</string>
	<string>graduationcap.fill</string>
	<string>computermouse.fill</string>
	<string>checkerboard.shield</string>
	<string>beach.umbrella.fill</string>
	<string>books.vertical.fill</string>
	<string>gamecontroller.fill</string>
	<string>ellipses.bubble.fill</string>
	<string>opticaldiscdrive.fill</string>
	<string>engine.combustion.fill</string>
	<string>circles.hexagongrid.fill</string>
	<string>medical.thermometer.fill</string>
	<string>lines.measurement.vertical</string>
</array>
</plist>
